#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    {
    combos {
        compatible = "zmk,combos";
        combo_togg_game {
            timeout-ms = <50>;
            key-positions = <35 36 37>;
            bindings = <&tog 4>;
            layers = <0 4>;
        };
    };
};
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
// 
//    | Pinky | Ring  | Middle    | Index   | Inner | screen |             | Inner | Index   | Middle    | Ring  | Pinky   |
//    | ----- | ----- | --------- | ------- | ----- | ------ |             | ----- | ------- | --------- | ----- | ------- |
//    | q     | w     | e         | r       | t     | null   |             | y     | u       | i         | o     | p       |
//    | a/gui | s/alt | d/control | f/shift | g     | copy   |             | h     | j/shift | k/control | l/alt | "/"/gui |
//    | z     | x     | c         | v       | b     | paste  |             | n     | m       | ,/?       | ./!   | :/;     |
//                 | Near            | Middle          | Far |             | Far          | Middle    | Near |
//                 | Esc/Media layer | Space/Num layer | Tab |             | enter/tekens | Backspace | Del  |


            bindings = <
         &kp Q      &kp W      &kp E       &kp R       &kp T &none                            &kp Y &kp U       &kp I           &kp O           &kp P                              
         &mt LGUI A &mt LALT S &mt LCTRL D &mt LSHFT F &kp G &kp LC(C)                        &kp H &mt LSHFT J &mt LCTRL K     &mt LALT L      &mt LGUI SLASH              
         &kp Z      &kp X      &kp C       &kp V       &kp B &kp LC(V)                        &kp N &kp M       &mt COMMA QMARK &mt PERIOD EXCL &mt COLON SEMI
                                           &lt 3 ESC   &lt 1 SPACE &kp TAB             &lt 2 ENTER  &kp BSPC &kp DEL
            >;
        };
    };
};